<div id=main>
<div class="main_container">

<span class="h1">Create GEDI file (Mandatory and Optional Fields)</span>
<p/>

<%= render "messages" %>

<%= hidden_field_tag 'prev_url', request.referer %>
<%= form_for(@gedifile, :html => {:multipart => true}) do |f| %>
	<% if @gedifile.errors.any? %>
	  <div id="error_explanation">
	    <h2><%= pluralize(@gedifile.errors.count, "error") %> prohibited this gedifile from being sent:</h2>

	    <ul>
	    <% @gedifile.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	    </ul>
	  </div>
	<% end %>

	<p/>
	<b>All Gedi Headers</b>
	<p/>

	<table>
	<% @attributes.each do |name, val| %>	
	  <tr>
	  <td><%=name%></td><td><%= eval("f.text_field :#{name}, :size=>80")%></td>
	  </tr>
	<%end%>
	
	<tr>
	  <td>File</td><td><%= file_field 'upload', 'gedifile' %></td>
	  </tr>
	</table>
	<p>
	
	<%= f.submit %>

<% end %>
	<p/>
</div>
</div>